.has-header-image {
    background-image: url("../assets/linkedIn_background.png") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
