.gray-background{
    background-color: rgb(238, 238, 238);
}

.bold{
    color: #000;
    font-weight: bold;
}

.btn-cv{
    margin-top: 70px;
    background-color: rgb(47, 60, 79);
    color: white;
    display: block;
    
}

@media (min-width: 768px) {
    .btn-cv{
        float: right;
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {

    font-size: 50px;
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}
